{% include "prod-data" %}
{% assign proid = product.title | string %}
{% assign gx = 0 %}
{% assign bx = 0 %}
battiscopa:
<ul>
{% for i in arr %}
    {% if proid == i %}
      {% assign prostat = battiarr[gx] | size %}
      {% assign descstat = battiarr[gx] %}
      <li>
          {% for j in (0..prostat) %}
               {% assign para = descstat | slice: j %}
               {% if ',' == para %}
                 </li><li>
               {% else %}
                 {{ descstat | slice: j  }}
               {% endif %}
          {% endfor %}
      </li>
  {% for varid in product.variants %}
  {% if bx == 0 %}
    {% if varid.id != product.selected_variant.id %}
  <a href="{{ request.origin }}{{ request.path }}?variant={{ product.variants.id[1] }}">
      <button>
        Aggiungi battiscopa
      </button>
  </a>
      {% endif %}
    {% endif %}
    {% if bx == 1 %}
    {% if varid.id == product.selected_variant.id %}
  <a href="{{ request.origin }}{{ request.path }}?variant={{ varid.id }}">
      <button>
        Togli battiscopa
      </button>
  </a>
      {% endif %}
    {% endif %}
    {% assign bx = bx | plus: 1 %}
  {% endfor %}
    {% endif %}
  {% assign gx = gx | plus: 1 %}
{% endfor %}
</ul>
