
{% assign arrsp = ";Waterfall Dark" | split: ";" %}
{% assign sparr = ";red,red,metal" | split: ";" %}
{% assign proidsps = product.title | string %}
{% assign spc = false %}
{% assign spcx = false %}
{% assign spcxd = false %}
{% assign gxxd = 0 %}
{% for i in arrsp %}
    {% if proidsps == i %}
      
        {% assign spc = true %}
  
    {% endif %}
  {% assign edr = i | split: " " %}  
  {% for nedr in edr %}
  {% if proidsps contains nedr %}
      {% assign spcx = true %}
  {% else %}
      {% assign spcx = false %}
  {% endif %}
  {% endfor %}
  {% if spcx == true %}
    {% assign spcxd = true %}
{% assign er = sparr[gxxd] %}
  {% endif %}
  {% if  spcx == false and spc == false %}
  {% assign gxxd = gxxd | plus: 1 %}
  {% endif %}
{% endfor %}
{% for i in arrsp %}
  {% for coll in product.collections %}
{% if i == coll.title %}

        {% assign spc = true %}
    {% endif %}
{% endfor %}
{% endfor %}

{% if spc == true %}
<h2 style="margin-left:14%;">Specifice</h2>
<section style="display:flex;flex-wrap:wrao;">
<ul class="nav nav-tabs" id="TabsProdotto" role="tablist">
                                    <li class="nav-item d-flex flex-grow-1 col-auto p-0" id="materiali">Materiali
                                    </li>
                                    <li class="nav-item d-flex flex-grow-1 col-auto p-0" id="colori">Colori
                                    </li>
                                    <li class="nav-item d-flex flex-grow-1 col-auto p-0" id="effetti">Effetti
                                    </li>
</ul>
  <div style="width:50%;padding-left:2px;">
{% assign proidsp = product.title | string %}
{% assign gxsp = 0 %}
{% assign gxsps = 0 %}<p>{{ product.title }}<br/>
{% for i in arrsp %}
    {% if proidsp == i %}

        {% for j in sparr %}
          {% if gxsps == gxsp %}
            
             {% assign arri = j | split: "," %}
             {% for z in arri %}
                 {{ z }}<br/>
             {% endfor %}  
            </p>
          {% endif %}
          {% assign gxsps = gxsps | plus: 1 %}
        {% endfor %}  
  
    {% endif %}
  {% assign gxsp = gxsp | plus: 1 %}
  {% assign gxsps = 0 %}
{% endfor %}
  </div>

</section>
{% endif %}
{% if spc == false and spcxd == true %}
<h2 style="margin-left:14%;">Specifice</h2>
<section style="display:flex;flex-wrap:wrao;">
<ul class="nav nav-tabs" id="TabsProdotto" role="tablist">
                                    <li class="nav-item d-flex flex-grow-1 col-auto p-0" id="materiali">Materiali
                                    </li>
                                    <li class="nav-item d-flex flex-grow-1 col-auto p-0" id="colori">Colori
                                    </li>
                                    <li class="nav-item d-flex flex-grow-1 col-auto p-0" id="effetti">Effetti
                                    </li>
</ul>
  <div style="width:50%;padding-left:2px;">
    {% assign arrin = er | split: "," %}
    {% assign numd = 1 %}
             {% for z in arrin %}
                {% if numd == 1 %}
                 <div id="dispmat">{{ z }}</div>
                {% elsif numd == 2 %}
                 <div id="dispcol">{{ z }}</div>
                {% else %}
                 <div id="dispeff">{{ z }}</div>
                {% endif %}
               {% assign numd = numd + 1 %}
             {% endfor %} 
  </div>

</section>
{% endif %}
