<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{{ jsonprodata.class }}
<ul>
{% for z in jsonprodata %}
  {% for i in z.students  %}
    <li>{{i.name}} ({{i.iq}})</li>
  {% endfor %}
{% endfor %}
</ul>
<ul>
{% for i in jsonprodata.class.students  %}
    <li>{{i.name}} ({{i.iq}})</li>
{% endfor %}
</ul>
{% schema %}
  {
    "name": "battiscopa",
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "battiscopa",
      "category": "reference"
    }
  ]
  }
{% endschema %}
