{% assign arrcol = "" %}
{% assign battmis = "" %}

{% comment %} SLOT 1 {% endcomment %}
{% for cosearr in section.settings.products_list %}
  {% assign arritem = cosearr.title | prepend: ";" %}
  {% assign arrcol = arrcol | append: arritem %}
  {% assign battmisitem = section.settings.produttore | prepend: ";0,," %}
  {% assign battmisitem = battmisitem | append: ",0" %}
  {% assign battmis = battmis | append: battmisitem %}
{% endfor %}

{% assign arrsp = arrcol | split: ";" %}
{% assign sparr = ";LEA CERAMICHE,,1°,Gres porcellanato,naturale,Ardesia,,rettangolare,60x120 cm,9.5 mm, €5,12 Kg/mq,12 mq per pallet,12 Kg per pallet,5,2 mq per scatola,2 Kg per scatola,2" | split: ";" %}
{% assign proidsps = product.title | string %}
{% assign spc = false %}
{% assign spcx = false %}
{% assign spcxd = false %}
{% assign gxxd = 0 %}
{% for i in arrsp %}
    {% if proidsps == i %}
      
        {% assign spc = true %}
  
    {% endif %}
  {% assign edr = i | split: " " %}  
  {% for nedr in edr %}
  {% if proidsps contains nedr %}
      {% assign spcx = true %}
  {% else %}
      {% assign spcx = false %}
  {% endif %}
  {% endfor %}
  {% if spcx == true %}
    {% assign spcxd = true %}
{% assign er = sparr[gxxd] %}
  {% endif %}
  {% if  spcx == false and spc == false %}
  {% assign gxxd = gxxd | plus: 1 %}
  {% endif %}
{% endfor %}
{% for i in arrsp %}
  {% for coll in product.collections %}
{% if i == coll.title %}

        {% assign spc = true %}
    {% endif %}
{% endfor %}
{% endfor %}

{% if spc == true %}
<h2 style="margin-left:14%;">Specifice</h2>
<section style="display:flex;flex-wrap:wrao;">
<div style="width:50%;padding-right:2px;">
<p id="listed" style="text-align:right;font-weight:800;">
  <span>Titolo:</span><br/>
  <span>Produttore:</span><br/>
  <span>Codice prodotto:</span><br/>
  <span>Scelta:</span><br/>
  <span>Materiale:</span><br/>
  <span>Finitura:</span><br/>
  <span>Effetto:</span><br/>
  <span>Stonalizzazione:</span><br/>
  <span>Forma:</span><br/>
  <span>Formato:</span><br/>
  <span>Spessore:</span><br/>
  <span>Prezzo per scatola:</span><br/>
  <span>Prezzo al metro quadro:</span><br/>
  <span>Peso al pallet:</span><br/>
  <span>Mq al pallet:</span><br/>
  <span>Scatole per pallet:</span><br/>
  <span>Mq per scatola:</span><br/>
  <span>Peso per scatola:</span><br/>
  <span>Pezzi per scatola:</span><br/>
</p>
</div>
  <div style="width:50%;padding-left:2px;">
{% assign proidsp = product.title | string %}
{% assign gxsp = 0 %}
{% assign gxspitems = 1 %}
{% assign gxsps = 0 %}<p>{{ product.title }}<br/>
{% for i in arrsp %}
    {% if proidsp == i %}

        {% for j in sparr %}
          {% if gxsps == gxsp %}
            
             {% assign arri = j | split: "," %}
             {% for z in arri %}
               {% if z=="" %}
                 <style>
                   #listed span:nth-child({{ gxspitems }}){
                     display:none;
                   }
                 </style>
               {% else %} 
                 {{ z }}<br/>
               {% endif %}
               {% assign gxspitems = gxspitems | plus: 1 %}
             {% endfor %}  
            </p>
          {% endif %}
          {% assign gxsps = gxsps | plus: 1 %}
        {% endfor %}  
  
    {% endif %}
  {% assign gxsp = gxsp | plus: 1 %}
  {% assign gxsps = 0 %}
{% endfor %}
  </div>

</section>
{% endif %}
{% if spc == false and spcxd == true %}
<h2 style="margin-left:14%;">Specifice</h2>
<section style="display:flex;flex-wrap:wrao;">
<div style="width:50%;padding-right:2px;">
<p style="text-align:right;font-weight:800;">
  Titolo:<br/>
  Produttore:<br/>
  Codice prodotto:<br/>
  Scelta:<br/>
  Materiale:<br/>
  Finitura:<br/>
  Effetto:<br/>
  Stonalizzazione:<br/>
  Forma:<br/>
  Formato:<br/>
  Spessore:<br/>
  Prezzo per scatola:<br/>
  Prezzo al metro quadro:<br/>
  Peso al pallet:<br/>
  Mq al pallet:<br/>
  Scatole per pallet:<br/>
  Mq per scatola:<br/>
  Peso per scatola:<br/>
  Pezzi per scatola:<br/>
</p>
</div>
  <div style="width:50%;padding-left:2px;">
<p>{{ product.title }}<br/>
    {% assign arrin = er | split: "," %}
             {% for z in arrin %}
                 {{ z }}<br/>
             {% endfor %} 
  </div>

</section>
{% endif %}
{% schema %}
  {
    "name": "specifiche",
    "settings": [
      {
  "type": "product_list",
  "id": "products_list",
  "label": "Prodotti - Slot 1"
},
    {
  "type": "text",
  "id": "produttore",
  "label": "Produttore"
},
    {
  "type": "text",
  "id": "codprodotto",
  "label": "Codice prodotto"
},
    {
  "type": "text",
  "id": "scelta",
  "label": "Scelta"
},
    {
  "type": "text",
  "id": "materiale",
  "label": "Materiale"
},
    {
  "type": "text",
  "id": "finitura",
  "label": "Finitura"
},
    {
  "type": "text",
  "id": "effetto",
  "label": "Effetto"
},
    {
  "type": "text",
  "id": "stonalizzazione",
  "label": "Stonalizzazione"
},
    {
  "type": "text",
  "id": "forma",
  "label": "Forma"
},
    {
  "type": "text",
  "id": "formato",
  "label": "Formato"
},
    {
  "type": "text",
  "id": "spessore",
  "label": "Spessore"
},
    {
  "type": "text",
  "id": "prezzoscatola",
  "label": "Prezzo per scatola"
},
    {
  "type": "text",
  "id": "prezzomq",
  "label": "Prezzo al mq"
},
    {
  "type": "text",
  "id": "pesopallet",
  "label": "Peso al pallet"
},
    {
  "type": "text",
  "id": "mqpallet",
  "label": "Mq al pallet"
},
    {
  "type": "text",
  "id": "scatolepallet",
  "label": "Scatole per pallet"
},
    {
  "type": "text",
  "id": "mqscatola",
  "label": "Mq per scatola"
},
    {
  "type": "text",
  "id": "pesoscatola",
  "label": "Peso per scatola"
},
    {
  "type": "text",
  "id": "pezziscatola",
  "label": "Pezzi per scatola"
}
    ],
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "specifiche",
      "category": "reference"
    }
  ]
  }
{% endschema %}
